<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
</head>

<body>

<div th:fragment="productEdit" id="ProductWindow">


    <!--<form th:object="${product}"-->
          <!--th:with="actionText=${isNewProduct} ? 'products/new' : 'products/'+${product.id}+'/edit/'"-->
          <!--th:action=${actionText} method="post" id="productEdit">-->

        <!--<form th:object="${product}"-->
              <!--th:action="products/new" method="post" id="productEdit">-->

    <form th:object="${product}"
    th:action="@{'products/'+${product.id}+'/edit/'}" method="put" id="productEdit">


        <label>Id:</label>
        <input required type="text" name="id" placeholder="Id" th:field="*{id}"><br/>

        <label>Наименование:</label>
        <input required type="text" name="name" placeholder="Наименование" th:field="*{name}"><br/>

        <label>Цена:</label>
        <input required type="text" name="price" placeholder="Цена" th:field="*{price}"><br/>

        <label>Категория:</label>
        <input required type="text" name="category" placeholder="Категория" th:field="*{category}"><br/>

        <label>Картинка:</label>
        <input required type="text" name="image" placeholder="Картинка" th:field="*{image}"><br/>

        <button
                type="submit">Сохранить товар
        </button>

    </form>

</div>

</body>

</html>