<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>

    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>

</head>

<body>

<div th:fragment="productFind" id="FoundProducts">

    <ul class="products">

        <li class="product" th:each="product : ${productList}">
            <div class="image">
                <img th:src="@{'images/'+${product.image}}">
            </div>
            <div class="productName" th:text=${product.name}>
            </div>
        </li>

    </ul>

</div>

</body>

</html>
