<!DOCTYPE html>

<body xmlns:th="http://www.thymeleaf.org">
        <!-- Page Content -->
        <div class="container">

            <div>
                <div>
                    <h1 class="page-header">Страница ошибки
                        <small>exception handler</small>
                    </h1>
                    <ol>
                        <li><a href="index.html">Home</a>
                        </li>
                        <li class="active">Мы попали на страницу ошибки</li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            <hr>

        </div>
        <!-- /.container -->
    </body>
